In [73]:
import numpy as np
import pandas as pd

In [74]:
df = pd.read_csv("data/merged.csv")
df

,event_id,player_id_home,name_home,seed_home,aces_home,backhand_errors_home,backhand_unforced_errors_home,backhand_winners_home,breakpoints_won_home,double_faults_home,...,avg_game_length_set5,set5_length,set4_diff,set4_games,set5_diff,set5_games,rank_home,rank_away,rs_home,rs_away
0,sr:sport_event:42023445,sr:competitor:66968,"Kudermetova, Veronika",False,14,13,8,9,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,101.0,12.0,101.0
1,sr:sport_event:42023447,sr:competitor:41355,"Bogdan, Ana",True,6,12,7,7,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,61.0,15.0,61.0,15.0
2,sr:sport_event:42023449,sr:competitor:256547,"Parks, Alycia",True,5,8,17,3,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,47.0,87.0,47.0,87.0
3,sr:sport_event:42023459,sr:competitor:99131,"Bucsa, Cristina",True,6,34,15,10,6,4,...,NaN,NaN,NaN,NaN,NaN,NaN,77.0,70.0,77.0,70.0
4,sr:sport_event:42023461,sr:competitor:44834,"Pegula, Jessica",False,3,20,14,11,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,44.0,4.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,sr:sport_event:43216857,sr:competitor:163504,"Medvedev, Daniil",False,8,10,11,7,9,9,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,8.0,3.0,8.0
984,sr:sport_event:43216863,sr:competitor:407573,"Alcaraz, Carlos",False,3,5,10,12,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12.0,1.0,12.0
985,sr:sport_event:43216849,sr:competitor:808628,"Shelton, Ben",True,5,20,11,4,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,46.0,2.0,46.0,2.0
986,sr:sport_event:43216855,sr:competitor:407573,"Alcaraz, Carlos",False,0,25,14,12,1,0,...,NaN,NaN,-3.0,9.0,NaN,NaN,1.0,3.0,1.0,3.0
987,sr:sport_event:43216851,sr:competitor:163504,"Medvedev, Daniil",False,6,12,22,6,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,3.0,2.0

In [75]:
def print_na(df):
    # Which columns have missing data
    for _ in df.columns:
        if any(df[_].isna()):
            print(_)

print_na(df)

games_won_home
max_games_in_a_row_home
tiebreaks_won_home
games_won_away
max_games_in_a_row_away
tiebreaks_won_away
avg_game_length_set2
set2_length
avg_game_length_set3
set3_length
set3_diff
set3_games
tiebreaks_won
games_won
max_games_in_a_row
avg_game_length_set4
set4_length
avg_game_length_set5
set5_length
set4_diff
set4_games
set5_diff
set5_games
rank_home
rank_away
rs_home
rs_away

In [76]:
cols = ["max_games_in_a_row","games_won","tiebreaks_won"]
h = "_home"
a = "_away"
for col in cols:
    # when this col is not none, the home and away are both none
    print(df[~df[col].isna()][[col+h,col+a]])
    df[col+h] = df[col+h].fillna(df[col])
    df[col+a] = df[col+a].fillna(df[col])

     max_games_in_a_row_home  max_games_in_a_row_away
226                      NaN                      NaN
338                      NaN                      NaN
     games_won_home  games_won_away
226             NaN             NaN
338             NaN             NaN
     tiebreaks_won_home  tiebreaks_won_away
169                 NaN                 NaN
461                 NaN                 NaN

In [77]:
# Drop rank_home and rank_away bc we have rs and seed

df = df.drop(columns = ['rank_home','rank_away']+cols)

In [78]:
df.head()

,event_id,player_id_home,name_home,seed_home,aces_home,backhand_errors_home,backhand_unforced_errors_home,backhand_winners_home,breakpoints_won_home,double_faults_home,...,avg_game_length_set4,set4_length,avg_game_length_set5,set5_length,set4_diff,set4_games,set5_diff,set5_games,rs_home,rs_away
0,sr:sport_event:42023445,sr:competitor:66968,"Kudermetova, Veronika",False,14,13,8,9,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,101.0
1,sr:sport_event:42023447,sr:competitor:41355,"Bogdan, Ana",True,6,12,7,7,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,15.0
2,sr:sport_event:42023449,sr:competitor:256547,"Parks, Alycia",True,5,8,17,3,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,87.0
3,sr:sport_event:42023459,sr:competitor:99131,"Bucsa, Cristina",True,6,34,15,10,6,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,70.0
4,sr:sport_event:42023461,sr:competitor:44834,"Pegula, Jessica",False,3,20,14,11,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,44.0

In [79]:
df = df[~df["rs"+h].isna() & ~df["rs"+a].isna()]

In [80]:
df=df.rename(columns={"win_1":"win_home"})

In [81]:
df["avg_set_diff"] = df[['set'+str(x)+'_diff' for x in range(1,6)]].mean(skipna=True, axis=1) # average of game difference across all sets
df["avg_set_games"] = df[['set'+str(x)+'_games' for x in range(1,6)]].mean(skipna=True, axis=1) # average of game difference across all sets

Drop rows that have set length NA for 2 for all sex and 3 for men AND any rows where set > 120 minutes

In [83]:
df = df[~df['set2_length'].isna()]
df = df[(~df['set3_length'].isna() & df['men']) | ~df['men']]

sets = df[['set1_length','set2_length','set3_length','set4_length','set5_length']]
df = df[~sets.apply(lambda row: any(row>120), axis=1)]

In [84]:
df = df.drop(columns = ['set'+str(x)+'_diff' for x in range(1,6)]+['set'+str(x)+'_length' for x in range(1,6)]+['set'+str(x)+'_games' for x in range(1,6)]+['avg_game_length_set'+str(x) for x in range(1,6)])

In [85]:
df['seed'+h] = df['seed'+h].astype(int)
df['seed'+a] = df['seed'+a].astype(int)

In [86]:
df

,event_id,player_id_home,name_home,seed_home,aces_home,backhand_errors_home,backhand_unforced_errors_home,backhand_winners_home,breakpoints_won_home,double_faults_home,...,best_of,win_home,avg_set_length,avg_game_length,avg_points_per_game,match_length,rs_home,rs_away,avg_set_diff,avg_set_games
0,sr:sport_event:42023445,sr:competitor:66968,"Kudermetova, Veronika",0,14,13,8,9,1,1,...,3,True,50.983333,4.433333,6.913043,101.966667,12.0,101.0,1.500000,11.500000
1,sr:sport_event:42023447,sr:competitor:41355,"Bogdan, Ana",1,6,12,7,7,3,2,...,3,True,72.141667,5.549359,6.769231,144.283333,61.0,15.0,1.000000,13.000000
2,sr:sport_event:42023449,sr:competitor:256547,"Parks, Alycia",1,5,8,17,3,4,5,...,3,True,50.866667,5.354386,7.210526,101.733333,47.0,87.0,2.500000,9.500000
3,sr:sport_event:42023459,sr:competitor:99131,"Bucsa, Cristina",1,6,34,15,10,6,4,...,3,True,54.772222,5.134896,7.187500,164.316667,77.0,70.0,0.666667,10.666667
4,sr:sport_event:42023461,sr:competitor:44834,"Pegula, Jessica",0,3,20,14,11,5,3,...,3,True,46.783333,4.678333,6.600000,140.350000,4.0,44.0,2.000000,10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,sr:sport_event:43216857,sr:competitor:163504,"Medvedev, Daniil",0,8,10,11,7,9,9,...,5,True,55.894444,5.782184,6.827586,167.683333,3.0,8.0,2.333333,9.666667
984,sr:sport_event:43216863,sr:competitor:407573,"Alcaraz, Carlos",0,3,5,10,12,4,3,...,5,True,50.033333,5.559259,6.444444,150.100000,1.0,12.0,3.000000,9.000000
985,sr:sport_event:43216849,sr:competitor:808628,"Shelton, Ben",1,5,20,11,4,2,5,...,5,False,53.683333,5.368333,6.700000,161.050000,46.0,2.0,-2.666667,10.000000
986,sr:sport_event:43216855,sr:competitor:407573,"Alcaraz, Carlos",0,0,25,14,12,1,0,...,5,False,49.737500,5.235526,6.894737,198.950000,1.0,3.0,-1.500000,9.500000
987,sr:sport_event:43216851,sr:competitor:163504,"Medvedev, Daniil",0,6,12,22,6,1,6,...,5,False,65.744444,6.362366,6.935484,197.233333,3.0,2.0,-2.333333,10.333333

In [87]:
print_na(df)

In [88]:
df.to_csv("data/df_cleaned.csv", index=False)